<!DOCTYPE html>
<html>
<head>
    <title>HRMS Lite</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">HRMS Lite</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'employee_list' %}">Employees</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'attendance_list' %}">Attendance</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-4">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</div>
</body>
</html>
